<div class="columnDiv" fxlayout="column" fxlayoutalign="center center">
  <section fxlayout="" fxlayoutalign="start" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: stretch flex-start; align-items: stretch;">
    <div class="card" fxlayout="column" fxlayoutalign="start" fxlayoutgap="1em" style="flex-direction: column; box-sizing: border-box; display: flex; max-width: 100%; place-content: stretch flex-start; align-items: stretch;">
      <h1 style="margin-bottom: 1em;">About</h1>
      <p style="margin-bottom: 1em;">Sprint is a minimalist desktop time management application inspired by the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a>. </p>
      <p style="margin-bottom: 1em;">Choose a sprint length, enter a brief description of the activity, and get things done.</p>
      <p style="margin-bottom: 1em;">Preferred browser: <a href="https://www.google.com/chrome/">Chrome</a>. </p>
      <p>
        <span style="text-decoration: underline; cursor: pointer">Terms and conditions</span>. </p>
    </div>
  </section>
  <footer fxlayout="column" fxlayoutalign="center center" style="flex-direction: column; box-sizing: border-box; display: flex; max-width: 100%; place-content: center; align-items: center;">
    <app-version-tag>
    </app-version-tag>
    <a class="report-bug" href="mailto:anthoni.manseau@gmail.com?subject=Sprint bug report"> Report bug </a>
  </footer>
</div>
<!-- <div class="dimmer-hide"></div> -->
